#mainTopic{
    color: blue;
}

*{
    text-align: center;
}

h1, h3, h5{
    font-family: Georgia;
}

.para{
    color: white;
    background-color: cornflowerblue;
}

div button{
    background-color: purple;
    color: azure;
}

button:hover{
    background-color: yellow;
    color: blue;
}

.para:nth-of-type(odd){
    background-color: yellow;
}

h1::first-letter{
    color: red;
}

input[type="checkbox"]:checked+label{
    color: green;
}

/* Specificity Order:
    1. #mainTopic
    2. div .main 
    3. .main
    4. h1
*/
