*{
    font-family: "Courier New";
}

h1{
    color: #b92b27;
}

#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
    color: aliceblue
}

.post a{
    color: purple !important;  
    background-color: yellow;
}

.post a{
    color: pink;  
    background-color: lightcyan;
}

nav ul li a{
    color: pink;
}

p+h3{
    text-decoration: underline;
}

.upvote+button{
    background-color: cornflowerblue;
    color: darkblue;
}

div>input{
    background-color: darksalmon;
}

input[type="text"]{
    color: red;
}

input[type="password"]{
    color: green;
}

button:hover{
    background-color: black;
    color: white;
}

h3:hover{
    color: #b92b27;
}

button:active{
    background-color: pink;
    color: black;
}

p:active{
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked + label{
    color: #b92b27;
    font-weight: bold;
}

/* .post:nth-of-type(2) { 
    background-color: blanchedalmond;
} */

div:nth-of-type(3n) { 
    background-color: lightblue;
}

h1::first-letter{
    color: pink;
}

#para::first-line{
    font-weight: bold;
    color: purple;
}

.p::selection{
    background-color: bisque;
}

h3{
    background-color: yellow;
    font-weight: normal;
}

h3{
    background-color: lavenderblush;
}

