h1{
    border: 2px solid black;
    width: 50%;
}

#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
    border: 2px solid black;
    margin: 50px;
    font-size: 20px;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    margin-left: 10%;
    font-size: 1.5em;
    padding: 1em;
}