.card{
    height: 300px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 8px black;
    transition: 5s;
}

.desc{
    padding: 0 2px 0 2px;
}

img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card:hover{
    box-shadow: 0 4px 16px black;
}