#face{
    background-color: #ffbf00;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.eyes{
    height: 20px;
    width:20px;
    background-color: black;
    border-radius: 50%;
    margin: 50px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
}

#mouth{
    height:  80px;
    width: 200px;
    background-color: crimson;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}