#container{
    height: 50px;
    width: 900px;
    background-color: pink;
    border-radius: 5px;
    border: 2px solid mediumseagreen;
    display: flex;
    align-items: center;
}

#container div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
}