#container{
    height: 70vh;
    width: 70%;
    border: 3px solid #009680;
    border-radius: 5%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

#container div{
    height: 30%;
    width: 30%;
    border: 2px solid black;
    background-color: grey;
    border-radius: 10%;
    text-align: center;
    font-size: 50px;
}