h2{
    text-align: center;
}
#container{
    height: 70vh;
    width: 80%;
    border: 3px solid black;
    margin: 10px auto;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    /* align-content: baseline; */
}

#container div{
    height: 30%;
    width: 10%;
    text-align: center;
    color: #56061a;
}

#blue{
    flex-basis: 100px;
    flex-grow: 1;
}

#orange{
    flex: 1 2 100px;
}