h2{
    text-align: center;
}
#container{
    height: 50vh;
    width: 80%;
    border: 3px solid black;
    margin: 10px auto;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container div{
    height: 10%;
    width: 10%;
    text-align: center;
    color: #56061a;
}